apiVersion: v1
kind: ConfigMap
metadata:
  name: marketplace-config
  namespace: plugin-marketplace
data:
  application.yml: |
    spring:
      application:
        name: plugin-marketplace-service
      profiles:
        active: prod
    server:
      port: 8090
    management:
      endpoints:
        web:
          exposure:
            include: health,info,metrics,prometheus
